html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: none;
}

hr.header-break {
    border: 1px solid #acacac;
    max-width: 800px;
}

hr.smaller-break {
    border: 1px solid #3b3b3b;
    max-width: 500px;
}

h1.title {
    overflow: hidden;
}

.bg-main {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)),
    url("https://images.pexels.com/photos/748626/pexels-photo-748626.jpeg?cs=srgb&dl=sea-landscape-nature-748626.jpg&fm=jpg") no-repeat fixed center /cover;
    height: 100vh;
}

.main-header-container {
    padding-top: 20vh !important;
}

@media (min-height: 500px) {
    .main-header-container {
        padding-top: 30vh !important;
    }
}

.row-item {
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box !important;
}

.navbar {
    padding: 0;
    z-index: 90000;
    box-sizing: border-box;
    width: 100vw;
}

.nav-bg {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.main-header {
    font-size: 10vw;
}

.main-sub-header {
    font-size: 3vw;
}